<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>GraphQL</title>
    <style>
      svg {
        border: 1px solid black;
        width: 400px;
        height: auto;
      }
      text {
        font-family: Arial, sans-serif;
        font-size: 30px;
      }
    </style>
  </head>

  <body>
    <svg id="user-info-svg" width="200" height="<%= 200 %>">
      <!-- Loop through the users and display their ID and login -->
        <text x="20" y="30">User ID: <%= transactions[0].user.id %></text>
        <text x="20" y="60">User login: <%= transactions[0].user.login %></text>

    </svg>
  </body>
</html>
 